- unless @asset.new_record?
  .row
    .col-sm-2= editable_asset_field_tag(@asset, :license_plate, 'Plate #', required: false)
  .row
    .col-sm-6= editable_asset_field_tag(@asset, :title_number, 'Title #', required: false)
  = render partial: 'transit_assets/title_owner_lienholder_with_others'
