:ruby
  table_id_active = SecureRandom.hex
  table_id_expired = SecureRandom.hex

:css

  #subheader-label h2 {
    border-bottom: 1px solid #e5e5e5;
  }
  .external-table-filters {
    float: left;
    display: inline-block;
    width: auto;
    margin: 10px 0;
  }


#subheader-label
  %h2 Performance Restrictions
  %div.tabs_wrapper
    %div.tabs
      %span.tab.active{:code => "performance_restrictions", :table_id => table_id_active} Active
      %span.tab{:code => "performance_restrictions", :table_id => table_id_expired} Expired
    %div.tab_content.active
      =render partial: 'index_table', locals: {restrictions: @active_restrictions, table_id: table_id_active}
    %div.tab_content
      =render partial: 'index_table', locals: {restrictions: @inactive_restrictions, table_id: table_id_expired}


