:css

  #subheader-label h2 {
    border-bottom: 1px solid #e5e5e5;
  }
  .external-table-filters {
    float: left;
    display: inline-block;
    width: auto;
    margin: 10px 0;
  }

#subheader-label
  %h2 Performance Restrictions

.col-md-12
  .row
    %legend.asset-subheader
      %span Active
    =render partial: 'index_table', locals: {restrictions: @active_restrictions, table_id: SecureRandom.hex}
  %br
  .row
    %legend.asset-subheader
      %span Expired
    =render partial: 'index_table', locals: {restrictions: @inactive_restrictions, table_id: SecureRandom.hex}


