%p
  <strong>Appraisal Updates</strong> are designed to help track the appraised value of an asset.
%p
  Any time an asset is appraised, its new appraised value and date of appraisal can be recorded here.
