%p
  <strong>Facility Operations Updates</strong> are designed to help track the lifecycle of a facility, specifically the operational characteristics that will help users maintain accurate financial records.
%p
  During the facility's service life, if the annual affected ridership or dollars generated changes, the relevant information can need to be recorded here.
%p
  Every time a facility operations update is recorded against the facility, the report will be viewable by system users on the facility's timeline, and relevant values for the facility will be recalculated automatically.
