%p
  <strong>Mileage Updates</strong> are designed to help track the number of service miles travelled by a vehicle asset.
%p
  During the asset's service life, its odomoeter reading can be recorded here as frequently as is required.
%p
  Every time a mileage update is recorded against the asset, the report will be viewable by system users on the asset's timeline, and relevant values (e.g. estimated value/rating/condition) for the asset will be recalculated automatically.
