%p
  <strong>Operations Updates</strong> are designed to help track the lifecycle of an asset, specifically the operational characteristics that will help users maintain accurate financial records.
%p
  During the asset's service life, if facility use changes, insurance costs rise or fall, maintenance or fuel costs change, the relevant information can need to be recorded here.
%p
  Every time an operations update is recorded against the asset, the report will be viewable by system users on the asset's timeline, and relevant values for the asset will be recalculated automatically.
