%p
  <strong>Performance Restriction Events</strong> should be utilized to report any speed-based performance restrictions on a single track within the right-of-way. While reporting is initiated per individual track segment, the linear reference markers can be modified to report the restriction across a larger segment of individual track. For users creating the National Transit Database Performance Report (A-90), these performance restrictions will be used to calculate performance against your annual Infrastructure Performance Target (weather restrictions will be excluded).
