%p
  <strong>Schedule Disposition</strong> are designed to identify the date that the asset is scheduled to be disposed of.
%p
  Every time a condition update is recorded against the asset, the report will be viewable by system users on the asset's timeline, and relevant values (e.g. estimated value/rating/condition) for the asset will be recalculated automatically.
