%p
  <strong>Schedule Replacment/rehabilition actions</strong> are designed to identify the years that the asset is scheduled to be replaced or rehabilitated.
%p
  During the asset's service life, its scheduled replacement and/or rehabilitaion can be recorded here as frequently as is required.
%p
  Every time a condition update is recorded against the asset, the report will be viewable by system users on the asset's timeline, and relevant values (e.g. estimated value/rating/condition) for the asset will be recalculated automatically.
