= format_field("Vehicle Usage Codes", format_as_list(@asset_event.vehicle_usage_codes))
= format_field("Reported On", format_as_date(@asset_event.event_date))
= format_field("Comments", @asset_event.comments.html_safe) unless @asset_event.comments.blank?
