%p
  <strong>Usage Updates</strong> are designed to help track the lifecycle of an asset, specifically the ways in which an asset is regularly used.
%p
  During the asset's service life, if there come to be changes in the way that the asset is used (e.g. a bus that gets less routes, thus cutting its average daily use and number of passenger trips), the relevant information will need to be recorded here.
%p
  Every time a usage update is recorded against the asset, the report will be viewable by system users on the asset's timeline, and relevant values for the asset will be recalculated automatically.
