%legend
  Funding
- unless @asset.new_record?
  =# render :partial => "assets/accounting_asset_form", :locals => {:f => f}

  = editable_asset_field_tag(@asset, :purchase_cost, 'Cost (Purchase)', required: true, type: 'number', min: 1)
  .row
    .col-sm-3
      .form-group.form-inline
        %label.control-label
          Direct Capital Responsibility
        .display-value
          %span.radio
            %label
              = radio_button_tag :direct_capital_responsibility, 'yes', @asset.direct_capital_responsibility
              Yes
          %span.radio
            %label
              = radio_button_tag :direct_capital_responsibility, 'no', !@asset.direct_capital_responsibility
              No
    .col-sm-3
      = editable_asset_field_tag(@asset, :pcnt_capital_responsibility, '% Capital Responsibility', type: 'number', min: 1, max: 100)

