= @search_form.input :asset_type_layer_class_name, as: :hidden, input_html: {value: 'FtaAssetCategory'}
.row{style: "margin-top: 10px;"}
  .col-md-12
    %label
      = "Mileage (For Revenue Vehicle Only)"
    .col-md-12{style: 'padding-left: 20px'}
      .col-md-5{style: 'padding: 0px'}
        %input.form-control#min_mileage{type: 'number', min: 0, step: 1, name: 'searcher[min_mileage]'}
      .col-md-2.center
        = "-"
      .col-md-5{style: 'padding: 0px'}
        %input.form-control#max_mileage{type: 'number', min: 0, step: 1, name: 'searcher[max_mileage]'}


:javascript
  function cache_transit_filters() {
    var filters = {};

    filters['reported_mileage_from'] = $('#min_mileage').val();
    filters['reported_mileage_to'] = $('#max_mileage').val();

    return filters;
  }

  function load_cached_transit_filters(filters) {
    if(filters['reported_mileage_from'] || filters['reported_mileage_from'] === 0) {
      $('#min_mileage').val(filters['reported_mileage_from']);
    }
    if(filters['reported_mileage_to'] || filters['reported_mileage_to'] === 0) {
      $('#max_mileage').val(filters['reported_mileage_to']);
    }
  }

  $('#min_mileage, #max_mileage').rules("add", {
    has_valid_mileage_range: true
  });

  $.validator.addMethod('has_valid_mileage_range', function (value, element, param) {
    if ($('#min_mileage').val() && $('#max_mileage').val() && (parseInt($('#min_mileage').val()) > parseInt($('#max_mileage').val()))) {
      return false;
    }
    return true;
  }, 'Please make sure the mileage range is valid.');