:ruby
  table_dom_id = SecureRandom.hex

-# #table_actions.btn-toolbar
-#   = render partial: 'asset_fleets/index_filter'

= javascript_include_tag  "https://kit.fontawesome.com/#{ENV['FONT_AWESOME']}.js"
.library-table
  %table.elbat{id: table_dom_id,
  use: 'true',
  data: {use: 'true',
    table_code: 'admin_facility',
    side: 'server',
    current_page: '0',
    current_page_size: current_user.num_table_rows,
    page_sizes: "10,20,50,100",
    search: 'server',
    export: "['csv', 'txt']",
    columns: '{"asset_id":{"name":"Asset ID","type":"drilldown-link","width":"5%", "unmovable":true},
                  "org_name":{"name":"Organization","width":"6%"},
                  "facility_name":{"name": "Facility Name"},
                  "year":{"name":"Year"},
                  "type":{"name":"Type"},
                  "subtype":{"name":"Subtype"},
                  "service_status":{"name":"Service Status"},
                  "last_life_cycle_action":{"name":"Last Life Cycle Action", "unmovable":true},
                  "life_cycle_action_date":{"name":"Life Cycle Action Date", "type": "right-align", "unmovable":true},
                  "fta_asset_class":{"name":"Class"},
                  "external_id":{"name":"External ID"},
                  "purchase_cost":{"name":"Cost (Purchase)","type":"right-align"},
                  "in_service_date":{"name":"In Service Date"},
                  "description":{"name":"Description","width":"16%"},
                  "direct_capital_responsibility":{"name":"Direct Capital Responsibility"},
                  "pcnt_capital_responsibility":{"name":"Capital Responsibility %"},
                  "term_condition":{"name":"TERM Condition"},
                  "term_rating":{"name":"TERM Rating"},
                  "policy_replacement_year_as_fiscal_year":{"name":"Policy Replacement Year"},
                  "scheduled_replacement_year_as_fiscal_year":{"name":"Scheduled Replacement Year"},
                  "scheduled_replacement_cost":{"name":"Scheduled Replacement Cost"},
                  "disposition_date":{"name":"Disposition Date"},
                  "sales_revenue":{"name":"Sales Revenue"},
                  "rebuild_rehab_description":{"name":"Rebuild/Rehab"},
                  "rebuild_rehab_date":{"name":"Date of Rebuild"},
                  "replacement_status_type":{"name":"Replacement Status"},
                  "min_service_life_months":{"name":"Useful Life Age"}}',
    selected_columns: "asset_id,org_name,facility_name,year,type,subtype,service_status,last_life_cycle_action,life_cycle_action_date",
    cookies: 'true',
    sort: 'server',
    params: '{ "fta_asset_class_code":"admin_facility" }',
    snapshot_date_filter: Rails.application.config.try(:snapshot_date_filter).to_s,
    url: table_transit_assets_path(format: :json) }}
