:css
  .form-section { padding: 1.5em }
  .form-section-header { font-size: 1.25em; margin-bottom: .5em; color: #a7a7a7}
  .form-section-header:not(:first-child) { margin-top: 1.75em }
  .form-group { margin: 1em 0 }
  .radio-buttons-inline > label { display: block; width: 100% }
  .radio-buttons-inline .radio { display: inline-block; margin-top: 0 }
  .radio-buttons-inline .radio:not(:first-of-type) { margin-left: 1em }
  @media (min-width: 768px) { .form-section .col-sm-6:nth-child(2n-1) { padding-right: 2em; border-right: 1px solid #17406E } .form-section .col-sm-6:nth-child(2n) { padding-left: 2em } }

- unless @asset.new_record?
  :javascript
    $('[data-behavior~=component-picker]').on('change', function(event) {
      $.ajax({
        url: "#{get_dependent_subform_inventory_path(@asset)}",
        type: 'GET',
        data: {
          dependent_object_key: $(this).val(),
          dependent_subform_target: $(this).data('target'),
          dependent_subform_view: $(this).data('form_view')
        }
      });
    });

:javascript

  $('#location_name').on('focus', function() {
    _typeahead_source_url = $(this).data('url');
  });

  // Enable typeahead for the SMO filter
  $('#location_name').typeahead({
    items: 10,
    minLength: 2,
    source: _typeahead_searcher,
    matcher: _typeahead_matcher,
    highlighter: _typeahead_highlighter,
    updater: function (obj) {
      var item = JSON.parse(obj);
      // Update the UI
      $('#location_name').attr('value', item.name);
      $('#asset_location_key').attr('value', item.id);
      return item.name;
    }
  });
