:ruby
  table_dom_id = SecureRandom.hex

-# #table_actions.btn-toolbar
-#   = render partial: 'asset_fleets/index_filter'

= javascript_include_tag  "https://kit.fontawesome.com/#{ENV['FONT_AWESOME']}.js"
.library-table
  %table.elbat{id: table_dom_id,
  use: 'true',
  data: {use: 'true',
    table_code: 'parking_facility',
    side: 'server',
    current_page: '0',
    current_page_size: '10',
    page_sizes: "10,20,50,100",
    search: 'server',
    export: "['csv', 'txt', 'excel']",
    columns: '{"asset_id":{"name":"Asset ID","type":"drilldown-link","width":"5%", "unmovable":true},
                  "org_name":{"name":"Organization","width":"6%"},
                  "facility_name":{"name": "Facility Name"},
                  "categorization":{"name":"Categorization"},
                  "component_type":{"name":"Component/Sub-Component Type"},
                  "year":{"name":"Year"},
                  "type":{"name":"Type"},
                  "subtype":{"name":"Subtype"},
                  "service_status":{"name":"Service Status"},
                  "esl":{"name":"ESL", "type":"checkmark-column"},
                  "last_life_cycle_action":{"name":"Last Life Cycle Action", "unmovable":true},
                  "life_cycle_action_date":{"name":"Life Cycle Action Date", "type": "right-align", "unmovable":true},
                  "fta_asset_class":{"name":"Class"},
                  "external_id":{"name":"External ID"},
                  "purchase_cost":{"name":"Cost (Purchase)"},
                  "in_service_date":{"name":"In Service Date"},
                  "description":{"name":"Description","width":"16%"},
                  "direct_capital_responsibility":{"name":"Direct Capital Responsibility"},
                  "pcnt_capital_responsibility":{"name":"Capital Responsibility %"},
                  "term_condition":{"name":"TERM Condition"},
                  "term_rating":{"name":"TERM Rating"}}',
    selected_columns: "asset_id,org_name,facility_name,categorization,component_type,year,type,subtype,service_status,last_life_cycle_action,life_cycle_action_date",
    cookies: 'true',
    sort: 'server',
    params: '{ "fta_asset_class_code":"parking_facility" }',
    url: table_transit_assets_path(format: :json) }}
