:ruby
  table_dom_id = SecureRandom.hex

-# #table_actions.btn-toolbar
-#   = render partial: 'asset_fleets/index_filter'

= javascript_include_tag  "https://kit.fontawesome.com/#{ENV['FONT_AWESOME']}.js"
.library-table
  %table.elbat{id: table_dom_id,
  use: 'true',
  data: {use: 'true',
    table_code: 'passenger_facility',
    side: 'server',
    current_page: '0',
    current_page_size: '10',
    page_sizes: "10,20,50,100",
    search: 'server',
    export: "['csv', 'txt', 'excel']",
    columns: '{"asset_id":{"name":"Asset ID","type":"drilldown-link","width":"5%"},
                  "org_name":{"name":"Organization","width":"6%"},
                  "facility_name":{"name": "Facility Name"},
                  "year":{"name":"Year"},
                  "type":{"name":"Type"},
                  "subtype":{"name":"Subtype"},
                  "service_status":{"name":"Service Status"},
                  "last_life_cycle_action":{"name":"Last Life Cycle Action"},
                  "life_cycle_action_date":{"name":"Life Cycle Action Date", "type": "right-align"}}',
    selected_columns: "asset_id,org_name,facility_name,year,type,subtype,service_status,last_life_cycle_action,life_cycle_action_date",
    cookies: 'true',
    sort: 'server',
    params: '{ "fta_asset_class_code":"passenger_facility" }',
    url: table_transit_assets_path(format: :json) }}