:ruby
  @tam_group.reload

$('#tam_group_div td.tam-group-workflow-status').html("#{@tam_group.state.humanize.titleize}");
$('#tam-group-workflow-actions').html("#{escape_javascript(render 'tam_policies/workflow_actions')}");