:javascript

  var transit_op_ids_by_planning_partner = JSON.parse('#{(PlanningPartner.transit_operator_ids_by_org || {}).to_json.html_safe}');

  function update_disabled_orgs() {

    var selectize = $org_select[0].selectize;


    var not_transit_ops = JSON.parse('#{Organization.where.not(organization_type_id: OrganizationType.find_by(class_name:'TransitOperator').id).map{|x| [x.id, x.coded_name]}.to_json.html_safe}');
    $.each(not_transit_ops, function( index, value ) {

      selectize.updateOption(value[0], {value: value[0], text: value[1], disabled: true});
    });

    var org_id = $('#user_organization_id').val();
    selectize.addItem(org_id);

    // automatically add all transit operators of planning partner to org list
    var transit_op_ids = transit_op_ids_by_planning_partner[org_id];
    $.each(transit_op_ids, function( index, value ) {
      selectize.addItem(value);
    });
  }