.text-center
  %p
    The <strong>Asset Fleet Builder</strong> analyzes your organization's inventory and groups assets into fleets following parameters set by NTD reporting. If you run the asset fleet builder, you will delete all existing fleets and regroup the assets from scratch. Please note that you will lose any existing fleet data.
  %p
    Once the builder has completed, you will receive a notification. Please review your fleets at that time and add fleet specific information.
