- view_component = "#{@fta_asset_category.name.parameterize.underscore}_index_table"
- if lookup_context.template_exists?(view_component, 'asset_fleets', true)
  = render :partial => "asset_fleets/#{view_component}"