%ul.nav.nav-tabs
  %li
    %a{:href => "#versions", :data =>{:toggle => 'tab'}}
      = "Versions"
  %li
    %a{:href => "#hist", :data =>{:toggle => 'tab'}}
      = "History"

.tab-content
  .tab-pane.fade#versions
    .tab-content
      = render 'ntd_reports/index_table'
  .tab-pane.fade#hist
    .tab-content
      = render 'history_table'
