= simple_form_for([@form_type, @form],
  :html => {:class => 'form-vertical ntd_form_form' },
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes, :radio_buttons => :vertical_radio_and_checkboxes, :file => :vertical_file_input, :boolean => :vertical_boolean}) do |f|

  = f.association :organization, :collection => Organization.where(id: @organization_list), :label_method => :coded_name
  = f.input :fy_year, as: :fiscal_year, :label => 'Fiscal Year'

  = f.button :submit, 'Save NTD Form', :class => "btn btn-primary"

:javascript
  $(document).ready(function(){
    transam.make_same_height('.header-part');
  });

  transam.make_fiscal_year('input.fiscal_year');

  // jquery validations
  $('.ntd_form_form').validate({
    submitHandler: function(form) {
      form.submit();
    }
  });