:javascript

  $( '#fta_asset_categories').change(function() {
    $('#tam_policy_search_proxy_fta_asset_category_id').val($(this).val());
    $('.tam_policy_search_form').submit();
  });

  $(function() {

    $.fn.editable.defaults.mode = 'inline';

    // initialize cells with x-editable to provide in-line editing function
    // number cells
    $('.editable-number').editable({
      showbuttons: true,
      clear: false,
      tpl: '<input type="number" min="0" max="99" required>',
    });

    $('.editable-select').editable({
      showbuttons: false,
      value: 0,
      source: [
          {value: 0, text: 'Editable'},
          {value: 1, text: 'Locked'}
      ]
    });

    $('.editable-select-all').editable({
      showbuttons: false,
      value: 0,
      source: [
          {value: 0, text: 'Editable All'},
          {value: 1, text: 'Locked All'}
      ],
      success: function(response, newValue) {

        field = $(this).data('name');

        if (newValue == 1) {
          newText = 'Locked';
        } else {
          newText = 'Editable';
        }

        $('.editable-select[data-name="'+field+'"]').html(newText);
      }
    });

    $('.not-editable-cell').editable('disable');
  });