- if (can? :manage, @tam_group) && (TamPolicy.first.tam_groups.include? @tam_group)
  - if @tam_group.can_distribute?
    = link_to distribute_rule_set_tam_policy_tam_group_path(@rule_set_type, @tam_policy, @tam_group), :class => "btn btn-primary btn-sm", :title => 'Distribute' do
      Distribute
  - elsif @tam_group.can_activate?
    = link_to fire_workflow_event_rule_set_tam_policy_tam_group_path(@rule_set_type, @tam_policy, @tam_group, event: 'activate'), :remote => true, :class => "btn btn-primary btn-sm", :title => 'Activate' do
      Activate