.row.other-fields-container
  .col-sm-4.other-type-container{data: {other_type_ids: [-1]}}
    = editable_asset_association_tag(@asset, :title_ownership_organization, 'Title Owner', include_blank: true, include_other: true, inputclass: 'full-width')
  .col-sm-4.other-value-container
    = editable_asset_field_tag(@asset, :other_title_ownership_organization, 'Title Owner (Other)', required: false)
.row.other-fields-container
  .col-sm-4.other-type-container{data: {other_type_ids: [-1]}}
    = editable_asset_association_tag(@asset, :lienholder, include_blank: true, include_other: true, inputclass: 'full-width')
  .col-sm-4.other-value-container
    = editable_asset_field_tag(@asset, :other_lienholder, 'Lienholder (Other)', required: false)


left join query_tool_most_recent_asset_events_for_type_view mraev on mraev.base_transam_asset_id = transam_assets.id left join asset_events as most_recent_asset_events on most_recent_asset_events.id = mraev.asset_event_id left join asset_event_types as mrae_types on most_recent_asset_events.asset_event_type_id = mrae_types.id