:ruby
  funding_line_items = funding_source.funding_line_items.where('organization_id in (?)', @organization_list)

- if funding_line_items.empty?
  %p There are no appropriations for this fund.
-else
  - if funding_source.federal?
    = render :partial => 'funding_sources/federal_appropriations_table', :locals => {:funding_line_items => funding_line_items}
  - else
    = render :partial => 'funding_sources/state_appropriations_table', :locals => {:funding_line_items => funding_line_items}

:javascript
  $('.popup-details').popover({
    trigger: 'hover',
    container: 'body',
    placement: 'left',
    animation: 'true',
    html: 'true'
  });
    