.row
  .col-md-12
    .panel.panel-default.header-part
      .panel-heading
        .row
          .col-md-4
            %h3.panel-title
              %i.fa.fa-list
              Funding Sources
          .col-md-8
            = render 'index_actions'
      .panel-body
        .row
          .col-md-12
          - if @funding_sources.empty?
            %p No matching funding sources found
          - else
            = render 'index_table'

= render 'index_scripts'
