.panel.panel-primary.login-panel
  .panel-heading
    %h3.panel-title Please sign in
  .panel-body
    %form#new_user.form-vertical{"accept-charset" => "UTF-8", :action => "/users/sign_in", :method => "post", :novalidate => "novalidate", :role => "form", :style => "margin-bottom: 10px;"}
      %div{:style => "margin:0;padding:0;display:inline"}
        %input{:name => "utf8", :type => "hidden", :value => "✓"}/
        %input{:name => "authenticity_token", :type => "hidden", :value => "Rm1Nje97STEfMS+AT/8jbMqy9F69EW1NeNPSh7mR5Ms="}/
      %fieldset
        .form-group
          %label.sr-only{:for => "user_email"} Email
          %input#user_email.form-control{:autofocus => "autofocus", :name => "user[email]", :placeholder => "Email address", :type => "email"}/
        .form-group
          %label.sr-only{:for => "user_password"} Password
          %input#user_password.form-control{:name => "user[password]", :placeholder => "Password", :type => "password"}/
        .checkbox
          %label
            %input{:name => "remember", :type => "checkbox", :value => "Remember Me"}/
            Remember Me
        %input.btn.btn-lg.btn-primary.btn-block{:type => "submit", :value => "Sign in"}/
    = link_to "Forgot your password?", new_password_path(resource_name), :style => 'margin-top: 15px;'
    = render 'shared/devise_messages'