- component_element_type = NewComponentSubtype.find_by(name: name)
- where_sql = "parent_type = 'NewComponentSubtype' and parent_id = #{component_element_type.try(:id)}"
= render 'query_filters/filter_forms/multi_select', where_sql: where_sql