- component_subtype = ComponentSubtype.find_by(name: name)
- where_sql = "parent_type = 'ComponentSubtype' and parent_id = #{component_subtype.try(:id)}"
= render 'query_filters/filter_forms/multi_select', where_sql: where_sql