- fta_asset_category_id = FtaAssetCategory.find_by(name: 'Infrastructure').try(:id)
- component_type = ComponentType.find_by(name: 'Substructure', fta_asset_category_id: fta_asset_category_id)
- where_sql = "parent_type = 'ComponentType' and parent_id = #{component_type.try(:id)}"
= render 'query_filters/filter_forms/multi_select', where_sql: where_sql