:ruby
  assets = TransitAsset.where(organization_id: @organization_list)
  lookup_table_data = Organization.where(id: @organization_list).pluck(:id, :name).map{|d| {id: d[0], name: d[1]}}

  idx = 0 # indicate other
  others = assets.where.not(other_title_ownership_organization: [nil, ""]).pluck(:other_title_ownership_organization).uniq.map{|name| 
    idx -= 1
    {id: idx, name: name}
  }
  
  data = (lookup_table_data + others).sort_by{|d| d[:name]}

= render 'query_filters/filter_forms/main_other_multi_select', main_field_name: 'title_ownership_organization_id', other_field_name: 'other_title_ownership_organization', data: data