- if @fmt == 'js'
  = render 'asset_server_datatable'
- else
<<<<<<< HEAD
  = render :partial => 'asset_datatable', :locals => {:assets => @assets}
=======
  = render 'asset_datatable', :locals => {:assets => @assets}
>>>>>>> ea86f45ea3948f362f85cf3639713888502883e7
