:javascript

  // jquery validations
  $('.form-vertical').validate({
    submitHandler: function(form) {
      $('input').prop('disabled', false); // re-enable any disabled fields so they'll submit

      // include primary in HABTM lists
      $('#asset_fta_mode_type_ids option[value="'+$('#asset_primary_fta_mode_type_id').val()+'"]').prop('selected', true);
      $('#asset_fta_service_type_ids option[value="'+$('#asset_primary_fta_service_type_id').val()+'"]').prop('selected', true);

      form.submit();
    }
  });

  $('#asset_purchase_date').rules("add", {
    validDate: true
  });

  $('#asset_warranty_date').rules("add", {
    validDate: true
  });

  $('#asset_in_service_date').rules("add", {
    validDate: true
  });

  $.validator.addMethod("validDate", function(value, element) {
      return this.optional(element) || /^(0?[1-9]|1[0-2])[/., -](0?[1-9]|[12][0-9]|3[0-1])[/., -](19|20)\d{2}$/.test(value);
  }, "Please enter a valid date in the format DD/MM/YYYY");

  $('#asset_primary_fta_mode_type_id').on('change', function(event) {
    var id = $(this).val();

    $('#asset_fta_mode_type_ids option').show();
    $('#asset_fta_mode_type_ids option').prop('selected', false);
    if (parseInt(id) > 0) {
      $('#asset_fta_mode_type_ids option[value="'+id+'"]').hide();
    }
  });

  $('#asset_primary_fta_service_type_id').on('change', function(event) {
    var id = $(this).val();

    $('#asset_fta_service_type_ids option').show();
    $('#asset_fta_service_type_ids option').prop('selected', false);
    if (parseInt(id) > 0) {
      $('#asset_fta_service_type_ids option[value="'+id+'"]').hide();
    }
  });

  $('#asset_fuel_type_id').on('change', function(event) {
    var id = $(this).val();

    if (parseInt(id) == parseInt('#{FuelType.find_by(name: "Dual Fuel").try(:id)}')) {
      $('#asset_dual_fuel_type_id').attr('disabled', false);
    } else {
      $('#asset_dual_fuel_type_id').attr('disabled', true);
    }
  });

  $('#asset_fuel_type_id').on('change', function(event) {
    var id = $(this).val();

    if (parseInt(id) == parseInt('#{FuelType.find_by(name: "Dual Fuel").try(:id)}')) {
      $('#asset_dual_fuel_type_id').attr('disabled', false);
    } else {
      $('#asset_dual_fuel_type_id').attr('disabled', true);
      $('#asset_dual_fuel_type_id').val('');
    }
  });

  $('#asset_manufacturer_id').on('change', function(event) {
    var id = $(this).val();

    if (parseInt(id) == parseInt('#{Manufacturer.find_by(name: "Other").try(:id)}')) {
      $('#asset_other_manufacturer').attr('disabled', false);
    } else {
      $('#asset_other_manufacturer').attr('disabled', true);
    }
  });

  $("input[name='direct_capital_responsibility']").on("click", function() {
    if ($(this).val() == 'yes') {
      $('label[for="asset_pcnt_capital_responsibility"]').html('<abbr title="required">*</abbr> Percent Capital Responsibility');
      $('#asset_pcnt_capital_responsibility').attr('disabled', false);

      $('#asset_pcnt_capital_responsibility').rules("add", {
        required: true
      });

    } else {
      $('label[for="asset_pcnt_capital_responsibility"]').html('Percent Capital Responsibility');
      $('#asset_pcnt_capital_responsibility').val('');
      $('#asset_pcnt_capital_responsibility').attr('disabled', true);

      $('#asset_pcnt_capital_responsibility').rules("add", {
        required: false
      });
    }
  });


  $('#asset_primary_fta_mode_type_id').change();
  $('#asset_primary_fta_service_type_id').change();