-# Transit Facility
%th.left{:data => {:field => "num_elevators", :visible => 'false', :align => 'right', :sortable => 'true',  :searchable => 'true'}} Num Elev.
%th.left{:data => {:field => "num_escalators", :visible => 'false', :align => 'right', :sortable => 'true',  :searchable => 'true'}} Num Escal.

-# FTA Facility
%th.left{:data => {:field => "fta_facility", :visible => 'true', :align => 'left', :sortable => 'true',  :searchable => 'false'}} FTA Facility
%th.left{:data => {:field => "pcnt_capital_responsibility", :visible => 'false', :align => 'left', :sortable => 'true',  :searchable => 'false', :formatter => 'percentage_formatter'}} % Cap. Resp.

-# Structure
%th.left{:data => {:field => "street_address", :visible => 'false', :align => 'left', :sortable => 'true',  :searchable => 'true'}} street_address
%th.left{:data => {:field => "city", :visible => 'false', :align => 'left', :sortable => 'true',  :searchable => 'true'}} City
%th.left{:data => {:field => "state", :visible => 'false', :align => 'left', :sortable => 'true',  :searchable => 'true'}} State
%th.left{:data => {:field => "zip", :visible => 'false', :align => 'left', :sortable => 'true',  :searchable => 'true'}} Zip
%th.left{:data => {:field => "land_ownership", :visible => 'false', :align => 'left', :sortable => 'true',  :searchable => 'false', :searchable => 'false'}} Land Ownership
%th.left{:data => {:field => "building_ownership", :visible => 'false', :align => 'left', :sortable => 'true',  :searchable => 'false', :searchable => 'false'}} Bldg Ownership
%th.left{:data => {:field => "land_ownership_organization", :visible => 'false', :align => 'left', :sortable => 'true',  :searchable => 'false', :searchable => 'false'}} Land Owner
%th.left{:data => {:field => "building_ownership_organization", :visible => 'false', :align => 'left', :sortable => 'true',  :searchable => 'false', :searchable => 'false'}} Bldg Owner
%th.left{:data => {:field => "leed_certification", :visible => 'false', :align => 'left', :sortable => 'true',  :searchable => 'false', :searchable => 'false'}} Leed Cert
%th.left{:data => {:field => "num_floors", :visible => 'false', :align => 'right', :sortable => 'true',  :searchable => 'false', :searchable => 'false'}} Num Floors
%th.left{:data => {:field => "num_structures", :visible => 'false', :align => 'right', :sortable => 'true',  :searchable => 'false', :searchable => 'false'}} Num Blgs
%th.left{:data => {:field => "num_parking_spaces_public", :visible => 'false', :align => 'right', :sortable => 'true',  :searchable => 'false', :searchable => 'false', :formatter => 'integer_formatter'}} Park/Pub
%th.left{:data => {:field => "num_parking_spaces_private", :visible => 'false', :align => 'right', :sortable => 'true',  :searchable => 'false', :searchable => 'false', :formatter => 'integer_formatter'}} Park/Pri
%th.left{:data => {:field => "lot_size", :visible => 'false', :align => 'right', :sortable => 'true',  :searchable => 'false', :searchable => 'false'}} Lot Size
%th.left{:data => {:field => "line_number", :visible => 'false', :align => 'left', :sortable => 'true',  :searchable => 'false', :searchable => 'false'}} Line Number
%th.left{:data => {:field => "facility_size", :visible => 'true', :align => 'right', :sortable => 'true',  :searchable => 'false', :searchable => 'false', :formatter => 'integer_formatter'}} Sq Ft
%th.left{:data => {:field => "section_of_larger_facility", :visible => 'false', :align => 'center', :sortable => 'true',  :searchable => 'false', :searchable => 'false', :formatter => 'boolean_formatter'}} Sec/Fac
%th.left{:data => {:field => "pcnt_operational", :visible => 'false', :align => 'right', :sortable => 'true',  :searchable => 'false', :searchable => 'false', :formatter => 'percentage_formatter'}} % Oper
%th.left{:data => {:field => "ada_accessible_ramp", :visible => 'false', :align => 'center', :sortable => 'true',  :searchable => 'false', :searchable => 'false', :formatter => 'boolean_formatter'}} ADA
