:javascript
  function show_fields_segment_unit_type_changes(segment_unit_type_id) {
    if (parseInt(segment_unit_type_id) == parseInt('#{InfrastructureSegmentUnitType.find_by(name: "Marker Posts").try(:id)}')) {
      $('.segment-unit-type-marker-posts').show();
      $('.segment-unit-type:not(.segment-unit-type-marker-posts)').hide();
    } else if (parseInt(segment_unit_type_id) == parseInt('#{InfrastructureSegmentUnitType.find_by(name: "Chaining").try(:id)}')) {
      $('.segment-unit-type-chaining').show();
      $('.segment-unit-type:not(.segment-unit-type-chaining)').hide();
    } else {
      $('.segment-unit-type-lat-long').show();
      $('.segment-unit-type:not(.segment-unit-type-lat-long)').hide();
    }
  }
  show_fields_segment_unit_type_changes($("input[name='infrastructure_segment_unit_type_id']:checked").val());

  $("input[name='infrastructure_segment_unit_type_id']").on("click", function(value) {
    show_fields_segment_unit_type_changes($(this).val());
  });

  // Workaround for the "unable to remove all secondary modes" issue
  // Forces the secondary_fta_mode_type_ids array to always be passed as a param
  $(function () {
    $("#secondary_fta_mode_type[data-type='checklist']").editable('option', 'params',
      function (params) { params["value"].push(""); return params; });
  });
  