.tab-pane.fade#grants
  .tab-content
    = render :partial => 'grant_purchases', :locals => {:grant_purchases => @asset.grant_purchases}
.tab-pane.fade#fta
  .tab-content
    = render "#{@asset.class.name.underscore}_fta"
