:javascript
  function show_fields_segment_unit_type_changes(segment_unit_type_id) {
    if (parseInt(segment_unit_type_id) == parseInt('#{InfrastructureSegmentUnitType.find_by(name: "Marker Posts").try(:id)}')) {
      $('.segment-unit-type-marker-posts').show();
      $('.segment-unit-type:not(.segment-unit-type-marker-posts)').hide();
    } else if (parseInt(segment_unit_type_id) == parseInt('#{InfrastructureSegmentUnitType.find_by(name: "Chaining").try(:id)}')) {
      $('.segment-unit-type-chaining').show();
      $('.segment-unit-type:not(.segment-unit-type-chaining)').hide();
    } else {
      $('.segment-unit-type-lat-long').show();
      $('.segment-unit-type:not(.segment-unit-type-lat-long)').hide();
    }
  }
  show_fields_segment_unit_type_changes($("input[name='infrastructure_segment_unit_type_id']:checked").val());

  $("input[name='infrastructure_segment_unit_type_id']").on("click", function(value) {
    show_fields_segment_unit_type_changes($(this).val());
  });

  // Workaround for the "unable to remove all secondary modes" issue
  // Forces the secondary_fta_mode_type_ids array to always be passed as a param
  $(function () {
    $("#secondary_fta_mode_type[data-type='checklist']").editable('option', 'params',
      function (params) { params["value"].push(""); return params; });
  });

  $('#primary_fta_mode_type').on('shown', function(e, editable) {
    var obj_selected = $(this).attr('id');
    editable.input.$input.on('change', function() {
      $('#primary_fta_mode_type,#secondary_fta_mode_type,#primary_fta_service_type,#secondary_fta_service_type').not('#'+obj_selected).each(function(index, value) {
        $.ajax({
          url: ($(value).attr('id').indexOf("mode") >= 0) ? "#{mode_collection_inventory_path(@asset, format: :json, sort: :code)}" : "#{service_collection_inventory_path(@asset, format: :json)}",
          method: 'GET',
          data: {
            primary_fta_mode_type_id: $('#primary_fta_mode_type').editable('getValue',true),
            secondary_fta_mode_type_id: $('#secondary_fta_mode_type').editable('getValue',true),
            primary_fta_service_type_id: $('#primary_fta_service_type').editable('getValue',true),
            secondary_fta_mode_type_id: $('#secondary_fta_mode_type').editable('getValue',true),
            include_blank: ($(value).attr('id').indexOf("secondary") >= 0),
            type: ($(value).attr('id').indexOf("secondary") >= 0) ? 'secondary' : 'primary'
          },
          success: function(data) {
            $(value).editable('hide');
            $(value).editable('disable');
            $(value).editable('option','source', data);

            if (parseInt(data.find(element => element['id']) == parseInt($(value).val())) == null) {
              $(value).editable('setValue', null);
            }

            $(value).editable('enable');
            $(value).editable('show', false);
          },
          error: function (xhr, ajaxOptions, thrownError) {
            alert("We are sorry but something went wrong. " + xhr.status + " " + thrownError);
          },
          complete: function() {
            $('#processing_spinner').hide();
          }
        });
      });

    });
  });