%hr
- if asset.fta_asset_category.name == 'Facilities'
  = format_field("TERM Threshold", asset.useful_life_benchmark)
- elsif asset.fta_asset_category != 'Infrastructure'
  = format_field("Useful Life Benchmark", asset.try(:useful_life_benchmark))
  = format_field("Useful Life Remaining", asset.try(:useful_life_remaining))