-if @asset_type == 1 || (@asset_subtype > 0 && @asset_subtype <= 4)
  = render "revenue_vehicle_table"


-if lookup_context.template_exists?("#{@view}_table_head", 'assets', true)
  = render "assets/#{@view}_table_head"

