.btn-group.pull-right.panel-action{:style => "padding-right: 40px;"}
  %button.btn.btn-primary.btn-sm.dropdown-toggle{:data => {:toggle => 'dropdown'}}
    = "Query Type"
    %span.caret
  %ul.dropdown-menu{:role => 'menu'}
    %li
      %button.btn-primary.btn-sm{id: 'all'}
        All Asset Types
    %li
      %button.btn-primary.btn-sm{id: 'vehicle-search'}
        Vehicle Query
    %li
      %button.btn-primary.btn-sm{id: 'equip'}
        Equipment Query
