:ruby
  notices = Notice.active_for_organizations(@organization_list).order(:display_datetime)

.panel.panel-default.dashboard-panel
  .panel-heading
    Performance Restrictions
    .pull-right
      %label{style: 'display: inline-block;'} Status
      = select_tag(:scope, options_for_select([['Active', 'running'], ['Expired','expired']], :selected => params[:scope]), :class => "form-control", :style => 'display: inline-block; margin-top: -5px; margin-left: 5px; width:auto;')
  #performance-restrictions-widget.panel-body

:javascript

  $(document).ready(function() {
    $("#spinner").show();
    update_performance_restrictions_widget();
    $("#spinner").hide();
  });

  $('#scope').change(function() {
    $("#spinner").show();
    update_performance_restrictions_widget();
    $("#spinner").hide();
  });

  $("#performance-restrictions-widget").on("click", "button.asset-event-popup-details", function(){
    if(!$(this).hasClass('has-popover')) {
      $.ajax({
        url: "#{popup_asset_events_path(id: 'xxx', format: :js)}".replace('xxx', $(this).data('asset-event-key'))
      });
    }else if ($(this).hasClass('has-popover')){
      $(this).removeClass('has-popover')

      popover_id = $(this).attr("aria-describedby");
      // $(popover_id)[0].hidden = true;
      $('#'+popover_id).hide();
    }
  });

  function update_performance_restrictions_widget() {

    $.ajax({
      url: "/asset_events/get_summary",
      type: 'GET',
      dataType: 'json',
      data: {asset_event_type_id: '#{AssetEventType.find_by(class_name: 'PerformanceRestrictionUpdateEvent').id}', scope: $('#scope').val(), order: 'event_datetime'},
      complete: function(response, status) {
        if (response.status == 200) {
          $('#performance-restrictions-widget').html(response.responseText);
        } else {
          $('#performance-restrictions-widget').html(response.statusText);
        }
        $('#performance-restriction-widget-table').bootstrapTable();
      }
    });
  }
