%ul.nav.nav-tabs
  %li
    %a{:href => "#alloc", :data =>{:toggle => 'tab'}}
      %span.badge.pull-right= @grant.assets.count
      = "Expenditures"

.tab-content
  .tab-pane.fade#alloc
    .tab-content
      - if @grant.assets.empty?
        %p There are no expenditures associated with this grant.
      - else
        = render :partial => 'assets/asset_compact_datatable', :locals => {:assets => @grant.assets}
