- # %i.fa.fa-info-circle.text-info.info-popup{:data => {:title => "#{grant.grant_number}: expenditures", :url => summary_info_grant_path(grant, :format => "js"), :container => 'body', :html => 'true', :placement => 'left', :animation => 'true'}}
