- unless @asset.new_record?
  .row
    .col-xs-12
      = select_tag :purchase_component_object_key, options_for_select(@asset.infrastructure_components.map{|x| [x.to_s, x.object_key]}), {data: {behavior: 'component-picker', target: 'component_purchase_subform', target_model: 'InfrastructureComponent', form_view: 'transit_assets/guideway/purchase_component_form'}}
      #component_purchase_subform