:ruby
  county_names = District.joins(:district_type).where(district_types: {name: 'County'}).district_names_by_state
-#    #{District.joins(:district_type).where(district_types: {name: 'County'}).district_names_by_state.to_json.html_safe};

:javascript

  $(document).ready(function(){
    $(function() {
      $("#organization_transit_operator_ids").selectize({
          plugins: ['remove_button'],
          delimiter: ',',
          persist: false,
          create: function(input) {
            return {
                value: input,
                text: input
            }
          }
      });

      $("#organization_fta_mode_type_ids").selectize({
          plugins: ['remove_button'],
          delimiter: ',',
          persist: false,
          create: function(input) {
            return {
                value: input,
                text: input
            }
          }
      });

      $("#organization_service_provider_type_ids").selectize({
          plugins: ['remove_button'],
          delimiter: ',',
          persist: false,
          create: function(input) {
            return {
                value: input,
                text: input
            }
          }
      });

      $("#organization_uza_district_ids").selectize({
          plugins: ['remove_button'],
          delimiter: ',',
          persist: false,
          create: function(input) {
            return {
                value: input,
                text: input
            }
          }
      });

      $("#organization_county_district_ids").selectize({
          plugins: ['remove_button'],
          delimiter: ',',
          persist: false,
          create: function(input) {
            return {
                value: input,
                text: input
            }
          }
      });

      $("#organization_city_district_ids").selectize({
          plugins: ['remove_button'],
          delimiter: ',',
          persist: false,
          create: function(input) {
            return {
                value: input,
                text: input
            }
          }
      });
    });

    transam.make_same_height('.header-part');
  });

  $('#organization_state').on('change', function(event) {
    var state_selected = $(this).val();

    $('#organization_county option:gt(0)').attr('selected',false);
    $('#organization_county').val('');

    var first = true;

    $('#organization_county option:gt(0)').each(function(index, value) {
        var state = $(this).data('state');
        if (state == state_selected) {
          $(this).show();
          if(first) {
            $(this).attr("selected", "selected");
            first = false;
          }
        } else {
          $(this).hide();
        }
      });
  });

  // jquery validations
  $('.org_form').validate({
    rules: {
      'organization[zip]': {
        zipcodeUS: true
      },
      'organization[phone]' : {
        phoneUS: true
      },
      'organization[fax]' : {
        phoneUS: true
      }
    }
  });