= format_field("Indian Tribe", format_as_boolean(org.indian_tribe) ) unless org.indian_tribe.blank?
= format_field("FEIN", org.subrecipient_number ) unless org.subrecipient_number.blank?
= format_field("NTD ID Number", @org.ntd_id_number ) unless org.ntd_id_number.blank?
