%li
  %a{:href => "#service", :data =>{:toggle => 'tab'}}
    = "Services"

%li
  %a{:href => "#govn", :data =>{:toggle => 'tab'}}
    = "Governance"

- if @org.respond_to? :transit_operators
  %li
    %a{:href => "#ops", :data =>{:toggle => 'tab'}}
      %span{:style => 'white-space: nowrap !important;'}
        Transit Operators
        %span.badge= @org.transit_operators.active.count

- if @org.respond_to? :planning_partners
  %li
    %a{:href => "#partners", :data =>{:toggle => 'tab'}}
      %span{:style => 'white-space: nowrap !important;'}
        Planning Partners
        %span.badge= @org.planning_partners.active.count