
%p
  <strong>New Inventory Templates</strong>
%p
  The multi-organization selection cannot be used for the following <strong>New Inventory</strong> templates:

  %ul
    %strong
      %li Facility (all classes) - Component / Sub-Component
      %li Infrastructure (all classes)
      %li Infrastructure (all classes) - Component / Sub-Component

