= form_tag report_url(@report), :method => :get, :id => 'asset_filter_form', :role => "form" do
  .form-group
    %label Asset Type
    = select_tag(:asset_type_id, options_for_select(@asset_types, :selected => params[:asset_type_id]), :class => "form-control", :prompt => 'All', :id => 'asset_type_id')

#sidebar.list-group{:style => 'position: fixed; top: 220px;', :data => {:spy => "affix", :offset_top => "220", :offset_bottom => "50"}}
  - @data[:fiscal_years].each do |fy|
    = link_to fiscal_year(fy), "##{fy}", :class => 'list-group-item'

:javascript
  $(document).ready(function() {

    $('#asset_type_id').change(function() {
      $('#asset_filter_form').submit();
    });
  });
