= form_tag report_path(@report), :class => "navbar-form navbar-right panel-action", :method => :get, :id => 'report_filter_form', :role => "form" do
  - if @organization_list.count > 1
    .form-group
      = select_tag(:agency, options_for_select(Organization.where(id: @data.organization_ids)), :class => "form-control pull-right", :include_blank => "Jump to...")

:javascript
  $(document).ready(function() {
    // Jump to agency
    $('#agency').change(function() {
      document.location = "#" + $(this).val();
    })
  });
