%li
  = link_to current_url(format: :xls), target: '_blank', class: 'dropdown-item', target: '_blank', id: 'export_report_excel', style: 'margin-top: 5px; margin-left: 5px;', title: 'Export as Excel' do
    %i.fa.fa-file
    = " Export as Excel"
